<a href="https://colab.research.google.com/github/KieranJP/Linear-Regression-Practice/blob/master/Linear_Regression_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#Using collab to create an ML Project - Kieran Power
#Plan is to use a simple Supervised(labeled) Linear classifier
#Collect Data -> Pick the model -> Train the model -> Test the model
#Use pattern recognition to decifer good/bad code against:
#Program Length, Lines of comments, Number of blank Lines, Good/Bad


#Uploading Test Data - Uncommented on first run then not needed after
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))


#Linear Regression Practice
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model

#Selecting the Csv to use then Displaying it, may have to change the (3) when first ran
df = pd.read_csv("FullELFFDataset.csv")
df[0:10]

   numberOfMethods      lcom      avcc   ...  mod   NumberOfDefects   Defective
0                11  0.000000  5.545455  ...     0                 0      False
1                 4  0.583333  4.000000  ...     1                 0      False
2                 1  0.000000  1.000000  ...     1                 0      False
3                22  0.023810  1.909091  ...     0                 0      False
4                 1  0.000000  1.000000  ...     1                 0      False
5                 4  0.000000  1.500000  ...     1                 0      False
6                 4  0.000000  2.250000  ...     0                 0      False
7                 1  0.000000  1.000000  ...     1                 0      False
8                13  0.018519  4.615385  ...     0                 3       True
9                11  0.200000  5.181818  ...     0                 0      False

[10 rows x 40 columns]

In [0]:
#Seperating the data into two sections, training and testing
X = df.drop(['Defective'], axis='columns')
y = df.Defective
#Split with a weighing of 70-30(0.3)
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3)

In [0]:
#Running the Regression Model
from sklearn.linear_model import LinearRegression
clf = LinearRegression()
clf.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [0]:
#Run our Prediction of what the X_test should look like
clf.predict(X_test)

array([0.00864292, 0.06041801, 0.0399693 , ..., 0.04942083, 0.05445748,
       0.01540172])

In [0]:
from sklearn.metrics import classification_report, confusion_matrix 

#Our accuracy percentage
#clf.score(X_test, y_test)

Y_predict = clf.predict(X_test)
Y_predict =(Y_predict>0.5)
print(confusion_matrix(y_test, Y_predict))
print(classification_report(y_test, Y_predict))

[[27980     1]
 [ 1219   224]]
              precision    recall  f1-score   support

       False       0.96      1.00      0.98     27981
        True       1.00      0.16      0.27      1443

    accuracy                           0.96     29424
   macro avg       0.98      0.58      0.62     29424
weighted avg       0.96      0.96      0.94     29424